.profile-container {
  width: 100%;
  
}

.profile-header {
  display: flex;
  flex-direction: row;
}

.profile-banner {
  margin-top: -5px;
  width: 100%;
}

.profile-banner-img {
  width: 100%;
  height: 81px;
}

.profile-man-icon {
  width: 200px;
  height: 200px;
  margin-top: -34px;
  margin-left: 25px;
}

.profile-details-container {
  display: flex;
  width: 350px;
  padding: 0px 30px;
  margin-top: -22px;
}

.profile-name-container {
  display: flex;
  flex-direction: row;
}

.profile-left-panel {
  width: 350px;
  /* position: fixed; */
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-logout-btn {
  padding: 4px 10px;
  background: #fff0f0;
  color: #ff5e5e;
  border: 1px solid #ff5e5e;
  border-radius: 12px;
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
}

.profile-email {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.profile-email-icon {
  width: 16px;
  margin-right: 5px;
}

.profile-email-text {
  color: #888;
  font-size: 14px;
}

.profile-role {
  color: #ff6f00;
  font-weight: 500;
  margin-top: 5px;
}

.profile-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 40px;
  margin-top: 10px;
  background-color: #f5f5f5;
  padding: 10px 10px;
  width: max-content;
}

.profile-info-block {
  display: flex;
  flex-direction: column;
}

.profile-label {
  font-size: 13px;
  font-weight: 600;
  color: #555;
  margin-bottom: 3px;
}

.profile-value {
  font-weight: 500;
  color: #747474;
}

/* Right Panel Styles */
.profile-right-section {
  width: min-content;
  overflow: auto;
  scroll-behavior: smooth;
  height: 375px;
  margin-top: -10%;
}

.profile-right-panel {
  flex: 1;
  padding: 30px 30px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: -11%;
  width: fit-content;
}

.profile-kpi-section {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
  margin-top: 60px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  width: fit-content;
}

.profile-kpi-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 36%;
}

.profile-kpi-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.profile-kpi-card {
  min-width: 74%;
  background: white;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  align-items: center;
  text-align: center;
}

.profile-kpi-card1 {
  flex: 1 1 calc(20% - 20px);
  min-width: 322px;
  background: white;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.profile-kpi-label {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
}

.profile-kpi-value {
  font-size: 18px;
  font-weight: 600;
  color: #111;
}

.profile-kpi-value.blue {
  color: #1e88e5;
}

.profile-chart-container {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.profile-chart-title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

/* Chart Card */
.profile-chart-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-area-chart-container {
  width: 100%;
  height: 220px;
}
