/* General Styles */
body {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.main {
  height: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.Box {
  width: 100px;
  height: 100px;
}

.kilogo {
  width: 50%;
}

.LogoImage {
  height: 20%;
  width: 50%;
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  background-color: #ffffff;
}

.login-form {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  width: 400px;
  position: relative;
  z-index: 2;
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-title {
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.login-logo {
  margin-bottom: 75px;
}

.form-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  position: relative;
  font-size: 12px;
  color: #ff0c0c;
}

.input-text {
  width: 94%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #f9f9f9;
  box-sizing: border-box;
  height: 44px;
}

.input-label {
  font-size: 12px;
  font-weight: bolder;
  color: #313131;
  margin-bottom: 10px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #888;
}

.eye-icon:hover {
  color: #333;
}

.options-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.remember-me {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 2px solid #313131;
  border-radius: 4px;
}

.remember-text {
  margin-left: 8px;
  font-size: 14px;
  color: #313131;
}

.login-btn-container {
  margin-top: 20px;
}

.login-btn {
  width: 35%;
  padding: 12px;
  margin-left: 130px;
  background-color: #f35601;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  font-family: Inter, sans-serif;
  cursor: pointer;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-text {
  color: #3a2685;
}

.signup-action {
  color: #3a2685;
  font-weight: 600;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* login pop up */